<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="/public/css/site.css" rel="stylesheet">
</head>

<body>
    <menu>
        <ul id="nav">
            <li id="nav-home"><a href="/" class="current">Home</a></li>
            <li id="nav-shopkeeper"><a href="/shopkeeper">Shopkeeper</a></li>
            <li id="nav-customer"><a href="/users/login">Customer</a></li>
            <li id="nav-product"><a href="#">Product</a></li>
        </ul>
    </menu>
    {{{body}}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/signup.js"></script>
    <script src="/public/js/profile.js"></script>
     <script src="/public/js/login.js"></script>
     <script src = "public/js/code.js" defer></script>
</body>
</html>