<a class="get-home" href="/shop">To Home Page</a>
<main id="ab">
    <h1>{{title}}</h1>

    <ul>
        {{#each allShop}}
        <li>
            <a class="person-item" href="/shopId/{{this._id}}">{{this.ShopName}} </a>
        </li>
        <br>
        {{/each}}
    </ul>

</main>