<a class="get-home" href="/user">To Home Page</a>
<main id="ab">
    <h1>{{title}} </h1>

    <ul>
        {{#each alluser}}
        <li>
            <a class="person-item" href="/user/{{this._id}}/allshop">{{this.name}} </a>
        </li>
        <br>
        {{/each}}
    </ul>

</main>