<a class="get-home" href="/shop">To Home Page</a>

<h1>{{title}}</h1>
<main>
    <p id="bold">characters Finder: This search tool allows you to find character of marvel with specific names.</p>
    <form method="post" action="/search">
        <label for="characters">character Name: </label>
        <input id="characters" type="text" name="characterNameForm" placeholder="character Name" />
        <br>
        <br>
        <label for="search">Search</label>
        <button id="search" type="submit" value="search">Click me</button>
    </form>

</main>

{{!-- 2nd example to using of java script--}}

<header class="header">
    <h1>is Palindromes ?</h1>
</header>
<br>
<main class="container">
    <div>
        <div>
            <form method="POST" id="check-Palindromes" class="form">
                <div>
                    <label id="nameText">
                        Text:
                        <input type="text" id="text" placeholder="Add Text here">
                    </label>
                    <button type="submit">SUBMIT</button>
                    <br> <br>
                </div>
            </form>
        </div>
    </div>
    <ol id="attempts"></ol>
</main>
<footer class="footer">
    <h3>Parthkumar Hirpara</h3>
    <h2>10474533</h2>
</footer>