<article class = "Log-in">
    <header>
        <h1 class = "Login-heading">
            Login
        </h1>
    </header>
    <form action = "/login" method ="POST" id = "login-form">
    <br>
    <label class = "user-text" for = "username">
        User Name :
    </label>
    <input name = "username" id = "username" type = "text">
    <br>
    <label class = "password-text" for = "password">
        Password : 
    </label>
    <input name = "password" id = "password" type = "password">
    <br>
    <input class = "login-button" type = "submit" value = "Login">
    </form>
    {{#if error}}
    <p class = "login-error">{{error}}</p>
    {{/if}}
    <p>New User? <a href="/signup" >Click here</a> to signup</p> 
    <p id ="user-error" hidden>Either the username or password is incorrect</p>
    <p id = "pass-error" hidden>Either the username or password is incorrect</p>
    
</article> 
</html>