<menu>
  <ul id="nav">
    <li id="nav-home"><a href="/" class="current">Home</a></li>
    <li id="nav-shopkeeper"><a href="/shopkeeper">Shopkeeper</a></li>
    <li id="nav-customer"><a href="/users/login">Customer</a></li>
    <li id="nav-product"><a href="/productSearch">Product</a></li>
  </ul>
</menu>
<section class="home-section">
  <h1 class="block" id="title">
    To good to go: Save food
  </h1>
  <p class="block" id="introduction">
    introduction
  </p>
</section>