

<menu>
  <ul id="nav">
    <li id="nav-home"><a href="/" class="current">Home</a></li>
    <li id="nav-shopkeeper"><a href="/shop/login">Shopkeeper</a></li>
    <li id="nav-customer"><a href="/users/login">Customer</a></li>
    <li id="nav-product"><a href="#">Product</a></li>
  </ul>
</menu>
 <section>

=======
 <section>

 <form action="/users/login" method="POST" id="loginForm">
        <label for="email">Email Address:</label>
        <input id="email" name="email" type="email" required>
        <label for="password">Password:</label>


        <input id="password" name="password" type="password" required>
        
=======
        <input id="password" name="password" type="password" required>

        <button id="loginBtn" class="loginProfileButton" type="submit">Login</button>
        <a href="/users/signup">Don't have an account? Click here to  Signup</a>
    </form>
    <div id="errorDiv"  hidden><p>{{error}}</p>
</div>
    <p class = "error"> {{ message }} </p>
    </section>
   